<header id="header">
    <%= link_to image_tag('alt_logo.png'), root_path, class: "image avatar" %>
	<h1>Somos a <strong>Escola Pirata</strong>.<br />
	Viemos derrubar as</br> barreiras da educação.</h1>
	<%= link_to "Atividades", activities_path %></br>
	<%= link_to "Entidades", entities_path %></br>
</header>