<header id="header">
	<a href="#" class="image avatar"><img src="<%= image_path('alt_logo.png') %>" alt="" /></a>
	<h1>Somos a <strong>Escola Pirata</strong>.<br />
	Viemos derrubar as</br> barreiras da educação.</h1>
	<%= link_to "Atividades", activities_path %>
</header>