
<!-- Header -->
	<header id="header">
		<a href="#" class="image avatar"><img src="<%= image_path('alt_logo.png') %>" alt="" /></a>
		<h1>Somos a <strong>Escola Pirata</strong>.<br />
		Viemos derrubar as</br> barreiras da educação.</h1>
	</header>

<!-- Main -->
	<div id="main">

		<!-- One -->
			<section id="one">
				<header class="major">
					<h2>Apaixonados por aprender, de repente nos vimos estudando para passar. Saímos atrás de respostas e agora vamos virar o sistema de ensino de cabeça pra baixo!</h2>
				</header>
				<p>Mas como? <strong>Nós vamos competir com o MEC! </strong>Vamos criar um sistema de educação superior que seja eficiente e evolua na mesma velocidade que o mundo atual. Diplomas são coisas do passado, <strong>o mundo é dinâmico</strong> demais para você ficar preso a títulos, burocracias e instituições de baixa qualidade.</p>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-graduation-cap"></i><strong>Liberdade</strong> e <strong>flexibilidade</strong> para escolher <strong>o quê</strong>, <strong>quando</strong> e <strong>onde</strong> aprender. </li>
					<li><i class="fa-li fa fa-graduation-cap"></i><strong>Jornadas personalizadas</strong> de aprendizado contínuo, baseadas nas <strong>demandas do mercado</strong>, em <strong>currículos universitários</strong> e em <strong>interesses pessoais</strong>.</li>
					<li><i class="fa-li fa fa-graduation-cap"></i><strong>Pessoas fazem a diferença</strong>, e é nelas que nosso sistema se baseia. Cada um será <strong>responsável</strong> por avaliar e endossar a qualidade do que <strong>aprende</strong>, <strong>ensina</strong> e de quem é <strong>contratado</strong>.</li>
				</ul>
				<p>Você também quer uma educação superior mais moderna? Está ansioso por saber as novidades que estamos preparando? Quer nos ajudar?</p>
				<ul class="actions">
					<li><a href="https://www.facebook.com/escolapirata/" class="button">Acompanhe nossa ações</a></li>
					<li><a href="https://www.facebook.com/groups/1706008852970543/" class="button">Participe com suas ideias</a></li>
				</ul>
			</section>

		<!-- Two -->
			<section id="two">
				<h2>Blog</h2>
				<div class="row">
					<article class="6u 12u$(xsmall) work-item">
						<a href="#" class="image fit thumb"><%= image_tag("motiv.jpg") %></a>
						<h3><a href="https://medium.com/@adautobraz/a-universidade-matou-sua-motiva%C3%A7%C3%A3o-5bc46f4f3d8e#.3z0wc6miu">A universidade matou sua motivação </br>E você só se deu conta disso agora.</a></h3>
						<p>Imagine esse cenário: Após se dedicar muito, você consegue ingressar numa instituição de ensino superior. Está empolgado, motivado e ansioso por todas as oportunidades que estão por vir. Todas as coisas que você vai viver e aprender na faculdade!
O tempo passa e a dura realidade se apresenta: mais professores ruins que bons, um currículo muitas vezes desconexo do “mundo real” ... <a href="https://medium.com/@adautobraz/a-universidade-matou-sua-motiva%C3%A7%C3%A3o-5bc46f4f3d8e#.3z0wc6miu">continuar lendo...</a></p>
					</article>
				
				</div>
				<ul class="actions">
					<li><a href="https://medium.com/escola-pirata" class="button">Siga no Medium</a></li>
				</ul>
			</section>

		<!-- Three --><!--
			<section id="three">
				<h2>Fale com a gente</h2>
				<div class="row">
					<div class="8u 12u$(small)">
						<form method="post" action="#">
							<div class="row uniform 50%">
								<div class="6u 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="Nome" /></div>
								<div class="6u$ 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Email" /></div>
								<div class="12u$"><textarea name="message" id="message" placeholder="Mensagem" rows="4"></textarea></div>
							</div>
						</form>
						<ul class="actions">
							<li><input type="submit" value="Enviar" /></li>
						</ul>
					</div>
					<div class="4u$ 12u$(small)">
						<ul class="labeled-icons">
							<li>
								<h3 class="icon fa-home"><span class="label">Endereço</span></h3>
								Conteiner do eITA</br>
								R. H8B, s/n<br />
								São José dos Campos, SP<br />
								Brasil
							</li>
							<li>
								<h3 class="icon fa-mobile"><span class="label">Telefone</span></h3>
								(12)98229-0060
							</li>
							<li>
								<h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
								<a href="#">murilokn@gmail.com</a>
							</li>
						</ul>
					</div>
				</div>
			</section>
			-->
	</div>

<!-- Footer -->
	<footer id="footer">
		<ul class="icons">
			<li><a href="#" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="https://www.facebook.com/escolapirata/" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="https://medium.com/escola-pirata" target="_blank" class="icon fa fa-medium"><span class="label">Medium</span></a></li>
			<li><a href="mailto:murilokn@gmail.com" target="_blank" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
		</ul>
		<ul class="copyright">
			<li>&copy; Escola Pirata</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>
	</footer>
