<div class="wrapper wrapper-content">
    <% if @tags.any? %>
        <% @tags.each do |tag| %>
            <h2>#<%= link_to tag.name, tag_path(tag.name) %></h2>
        <% end %>
    <% else %>
        <h2>Sem Tags</h2>
    <% end %>
</div>