<div class="12u 12u$(xsmall)">
    <div class="cert" style="   background-image: url(<%= asset_url('overlay.png') %>),
                                url(<%= asset_url(activity.image.url(:cover)) %>);
                                background-size: cover;  background-position: center center;">
        <div class="cert-header">
            <div class="cert-header-title">
                <h1><%= link_to activity.name, activity_path(activity)%>  </h1>
            </div>
            <div class="cert-header-tag">
                #inovação #empreendedorismo #workshop
            </div>
        </div>
        <div class="card-body">
            <h2>26 ABR 18:30 - Laboratório Aberto do ITA - CCM</h2>
            <%= activity.description %>
        </div>
    </div>
</div>