<div class="vertical-timeline-block">
    <div class="vertical-timeline-icon navy-bg">
      <i class="fa fa-plus"></i>
    </div>

    <div class="vertical-timeline-content ibox">
        <div class="ibox-title">
        <h2>
            <%= link_to activity.name, activity_path(activity)%></br>
            <small>26 ABR 18:30 - Laboratório Aberto do ITA - CCM</small>
        </h2>
        </div>
        <div>
            <%= image_tag activity.image.url(:cover), class:"img-responsive" %>
        </div>

        <div class="ibox-content">
            <p><%= activity.description %></p>
        </div>
        <div class="ibox-footer">
            <ul class="tag-list">
                <li><a href="" class="btn btn-sm btn-default">Inovação</a></li>
                <li><a href="">Empreendedorismo</a></li>
                <li><a href="">Workshop</a></li>
            </ul>
            </br>
        </div>
    </div>
</div>
