
<p id="notice"><%= notice %></p>
<div class="row">
  <% if @activities.any? %>
    <%= render @activities %>
  <% end %>
</div>
<br>

<%= link_to 'Nova Atividade', new_activity_path, class:"button" %>
