<div class="footer">
    <div class="pull-right">

		<a href="https://www.facebook.com/escolapirata/" target="_blank" class="btn btn-success btn-circle btn-outline" type="button">
			<i class="fa fa-facebook"></i>
		</a>
		
		<a href="https://medium.com/escola-pirata" target="_blank" class="btn btn-primary btn-circle btn-outline" type="button">
			<i class="fa fa-medium"></i>
		</a>
		<a href="mailto:murilokn@gmail.com" target="_blank" class="btn btn-danger btn-circle btn-outline" type="button">
			<i class="fa fa-envelope-o"></i>
		</a>
    </div>
    <div>
	 	<% if controller.controller_name=="entities"&&controller.action_name=="show" %>
			<%= link_to "voltar para EscolaPirata.com", root_path %>
		<% end %>
    </div>
</div>




